<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>{{ config.SITE_NAME }}</title>
{{ bootstrap.load_css() }}

    <!-- Custom styles for this template -->
      
      <link href="/static/style.css" rel="stylesheet">
      <script src="https://kit.fontawesome.com/1556e23c81.js"></script>
<link href="https://fonts.googleapis.com/css?family=Livvic:300,300i,400,400i,600,600i,700,700i,900&display=swap" rel="stylesheet">

      {% from 'bootstrap/form.html' import render_form %}

      <style>
          body {
              font-family: 'Livvic', sans-serif;
          }
          
          h1 {font-weight: 900
          }
          
          div.hot {
              background-color: "pink";
          }
          
          div.freezing {
          background-color: "blue";
          }
          
          
      </style>
  </head>

  <body class="d-flex flex-column h-100">

      
      
      <header>
  <!-- Fixed navbar -->
  
      
      <main role="main" class="flex-shrink-0">
  <div class="container">
      
      <h1 class="mt-2"><i class="fas fa-cloud-sun-rain"></i> {{ config.SITE_NAME }}</h1>  
                                             

{{ render_form(form) }}


               
      
  </div>
</main>
      
      
      {{ bootstrap.load_js() }}
      
  </body>
</html>
